.header_menu{
	padding: 0;
    list-style: none;
    margin: 0;
}

.header_menu li{
	margin-left:30px;
}

.header_menu a{
	color:#000;
	text-decoration:none;
	font-size: 17px;
	-webkit-transition: all 0.08s linear 0s;
    -moz-transition: all 0.08s linear 0s;
    -o-transition: all 0.08s linear 0s;
    transition: all 0.08s linear 0s;
}

.header_menu a:hover{
	color: #f7386b;
	text-decoration:underline;
}